html,
body {
  height: 100%;
}

body {
  font-family: "Hind", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  color: #444;
  overflow: hidden;
  max-width: 800px;
  margin: 2em auto;
  padding: 0.5em;
}

.box {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

a {
  color: #7c7c7c;
  text-decoration: none; /* no underline */
}

a:visited {
  color: #727272;
}
